<footer class="w-full md:h-3/4 px-5 md:px-20 py-5 md:py-20 flex flex-col md:flex-row gap-4 border-t">

    <div class="w-full md:w-1/2 pt-10 pb-0 md:py-10 ">
        <h1 class="text-xl font-bold tracking-wider text-[#041e42] uppercase">Glowing Valley</h1>
        <div class="w-full py-10 flex flex-row justify-around md:justify-between items-start">

            <div class="flex flex-col gap-4 capitalize text-md tracking-wide">
                <div class="font-extrabold text-lg">Products</div>
                <a href="./shopAll.php">
                    <div>Beauty</div>
                </a>
                <a href="./shopAll.php">
                    <div>hamper</div>
                </a>


                <!-- <div>Products</div>
                <div>Products</div> -->
            </div>

            <div>
                <div class="flex flex-col gap-4 capitalize text-md tracking-wide">
                    <div class="font-extrabold text-lg">Company</div>
                    <a href="./about.php">
                        <div>About</div>
                    </a>
                    <div>Careers</div>
                    <div>Help center</div>
                </div>
            </div>

            <div>
                <div class="flex flex-col gap-4 capitalize text-md tracking-wide">
                    <div class="font-extrabold text-lg">Legal</div>
                    <div>Terms</div>
                    <div>privacy</div>
                </div>
            </div>

            <div>

            </div>

        </div>
    </div>

    <div class="w-full md:w-1/2 px-5 md:px-20 flex flex-col gap-6">
        <h1 class="text-lg md:text-xl font-bold md:mt-24">Stay in touch for deals, news, and more!</h1>
        <div class="flex flex-col lg:flex-row gap-4">
            <!-- <input type="email" placeholder="Enter your email"
                class="border bg-transparent p-3 w-full bg-gray-100 shadow-lg " /> -->
            <a href="./contact.php"> <button
                    class="capitalize bg-[#041e42] text-white px-6 py-3 text-md font-extrabold hover:bg-[#F55939]">Contact
                    Us</button></a>
        </div>
        <div class="flex gap-4 py-5">
            <a target="_blank" href="https://www.instagram.com/glowingvalley_great_crate?igsh=YzljYTk1ODg3Zg=="><i
                    class="ri-instagram-line text-3xl hover:text-pink-600 hover:scale-110"></i></a>
            <a target="_blank" href="https://www.facebook.com/people/Glowing-Valley-great-crate-gift-hamper/100063696561922/"> <i
                    class="ri-facebook-box-fill text-3xl hover:text-blue-900 hover:scale-110"></i></a>
            <a target="_blank" href=""> <i class="ri-youtube-fill text-3xl hover:text-red-600 hover:scale-110"></i></a>
            <a target="_blank" href=""> <i class="ri-twitter-fill text-3xl hover:text-blue-600 hover:scale-110"></i></a>
            <!-- <RiInstagramLine class="hover:text-purple-600 hover:scale-110" /> -->
            <!-- <RiFacebookBoxFill class="hover:text-blue-900 hover:scale-110" />
            <RiYoutubeFill class="hover:text-red-600 hover:scale-110" />
            <RiTwitterFill class="hover:text-blue-600 hover:scale-110" /> -->
        </div>
    </div>

</footer>

<div class="w-full border-t px-5 md:px-20 py-5">
    <h1 class="flex text-md font-bold gap-2 md:gap-4 capitalize">
        &copy;
        <script>let date = new Date(); document.write(date.getFullYear())</script>
        <p>Glowing Valley</p>
        <p>|</p>
        <p class="hover:cursor-pointer">Privacy Policy</p>
    </h1>
</div>


<div class="px-4 py-4 md:px-4 md:py-4 w-full z-50 bottom-0 fixed">
    <a href="whatsapp://send?phone=+91%20$9422706998&text=Hello"> <i
            class="ri-whatsapp-line text-3xl rounded-full px-4 py-3 bg-green-500 text-white float-right "></i></a>
</div>